@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 242, 241, 240;
  --background-secondary: 255, 255, 255; 
  --text-title: 49, 49, 49;
  --text-color: 144, 144, 144;
  --foreground-rgb: 245, 153, 60;
  --foreground-secondary: 110, 212, 212;
}

body {
  color: rgb(var(--text-color));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .title {
    font-size: 96px;
    font-weight: 400;
    line-height: 112px;
  }
  .bg-secondary {
    background: rgb(var(--background-secondary));
  }
  .highlight-bg {
    background: rgb(var(--foreground-rgb));
  }
  .highlight-bg-secondary {
    background: rgb(var(--foreground-secondary));
  }
  .highlight-text {
    color: rgb(var(--foreground-rgb));
  }
}
