@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 242, 241, 240;
  --text-color: 49, 49, 49;
  --text-secondary: 144, 144, 144;
  --foreground-rgb: 245, 153, 60;
  --foreground-secondary: 110, 212, 212;
}

body {
  color: rgb(var(--text-color));
  background: rgb(var(--background-rgb));
  height: 1080px;
  width: 1920px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .title {
    font-size: 96px;
    font-weight: 400;
    line-height: 112px;
  }
  .highlight-bg {
    background: rgb(var(--foreground-rgb));
  }
  .highlight-bg-secondary {
    background: rgb(var(--foreground-secondary));
  }
  .highlight-text {
    color: rgb(var(--foreground-rgb));
  }
  .normal-text {
    color: rgb(var(--text-color));
  }
  .text-secondary {
    color: rgb(var(--text-secondary));
  }
  .line {
    border-bottom: 1px solid rgb(var(--text-secondary));
  }
  .line-vertical {
    border-left: 1px solid rgb(var(--text-secondary));
  }
}
